<%= form_for(@referral) do |f| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referral.errors.count, "error") %> prohibited this referral from being saved:</h2>

      <ul>
      <% @referral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_urn %><br>
    <%= f.text_field :urn %>
  </div>
  <div class="field">
    <%= f.label :clinic %><br>
    <%= f.text_field :clinic %>
  </div>
  <div class="field">
    <%= f.label :referrer %><br>
    <%= f.text_field :referrer %>
  </div>
  <div class="field">
    <%= f.label :referee %><br>
    <%= f.text_field :referee %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
