<p id="notice"><%= notice %></p>

<h1>Listing Referrers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Provider number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referrers.each do |referrer| %>
      <tr>
        <td><%= referrer.name %></td>
        <td><%= referrer.phone %></td>
        <td><%= referrer.FAX %></td>
        <td><%= referrer.email %></td>
        <td><%= referrer.provider_number %></td>
        <td><%= link_to 'Show', referrer %></td>
        <td><%= link_to 'Edit', edit_referrer_path(referrer) %></td>
        <td><%= link_to 'Destroy', referrer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referrer', new_referrer_path %>
